html, body {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
  font-size: 100%;
  font-weight: normal; }

*, *:before, *:after {
  box-sizing: inherit; }

.form-container {
  background-color: #0e81b6;
  display: flex; }

.form {
  display: flex;
  flex-direction: column; }

.first-section {
  background: white; }

.second-section {
  background: #0c75d8;
  width: 20%; }

.form-title {
  font-size: 1.25rem;
  color: #107fe7; }

.introduction {
  font-size: 0.875rem;
  color: #393e42; }

.form-fields {
  margin: 0.375rem;
  display: flex;
  flex-direction: column; }

.input-name {
  font-size: 0.875rem;
  margin: 0 0 .250rem 0.625rem; }

input {
  border: solid 0.125rem dodgerblue;
  border-radius: 0.315rem;
  font-size: 1rem;
  padding: 0.375rem; }

.button {
  font-size: 0.875rem;
  background: linear-gradient(#93b4f0, #29668f);
  border: 0;
  border-radius: 1.25rem;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 0.625rem;
  width: 50%; }

.form-img {
  width: auto; }

/* Media queries */
@media screen and (max-width: 420px) {
  .form-container {
    background-color: #0e81b6;
    display: inline; } }
