html, body {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
  font-size: 100%;
  font-weight: normal; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  max-width: 800px;
  margin: auto;
  background: #1e93f4;
  padding: 50px; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.first-section {
  background: white;
  padding: 0.5rem 1rem; }

.second-section {
  background: #0c75d8;
  display: flex; }

.form-title {
  color: #107fe7;
  font-size: 1.25rem;
  padding: 1rem; }

.introduction {
  font-size: 0.875rem;
  color: #393e42; }

.form-fields {
  margin: 0.375rem;
  display: flex;
  flex-direction: column; }

.input-name {
  font-size: 0.875rem;
  margin: 0 0 .250rem 0.625rem; }

input {
  border: solid 0.125rem dodgerblue;
  border-radius: 0.315rem;
  font-size: 1rem;
  padding: 0.375rem; }

.button {
  font-size: 0.875rem;
  background: linear-gradient(#93b4f0, #29668f);
  border: 0;
  border-radius: 1.25rem;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-top: 0.625rem;
  width: 50%; }

.form-img {
  width: 100%;
  align-content: center; }
