html, body {
    box-sizing: border-box;
    font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
    font-weight: normal;
}
  
*, *:before, *:after {
box-sizing: inherit; 
}

body {
    display: flex;
}

.form {
    
}

.second-section {
    background: blue;
}
