html, body {
    box-sizing: border-box;
    font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
    font-weight: normal;
}
  
*, *:before, *:after {
box-sizing: inherit; 
}

body {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.second-section {
    background: rgb(12, 117, 216);
}

.form-title {
    font-size: 20px;
    color: rgb(16, 127, 231);
}

.introduction {
    font-size: 14px;
    color: rgb(57, 62, 66);
}

.form-fields {
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.input-name {
    font-size: 14px;
    margin: 0 0 4px 10px;
}

input {
    border: solid 2px dodgerblue;
    border-radius: 5px;
    font-size: 16px;
    padding: 6px;
}

.button {
    font-size: 14px;
    background: linear-gradient(rgb(147, 180, 240), rgb(41, 102, 143));
    border: 0;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    width: 50%;
}
