html, body {
    box-sizing: border-box;
    font-family: Montserrat, Verdana, Tahoma, Sans-Serif;
    font-size: 100%;
    font-weight: normal;
}
  
*, *:before, *:after {
box-sizing: inherit; 
}

.wrapper {
    max-width: 800px;
    margin: auto;
    background: rgb(30, 147, 244);
    padding: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.first-section {
    background: white;
    padding: 2rem 1rem;
}

.second-section {
    background: rgb(12, 117, 216);
    display: flex;
}

.form-title {
    color: rgb(16, 127, 231);
    font-size: 1.25rem;
}

.introduction {
    font-size: 0.875rem;
    color: rgb(57, 62, 66);
}

.form-fields {
    margin: 0.375rem;
    display: flex;
    flex-direction: column;
}

.input-name {
    font-size: 0.875rem;
    margin: 0 0 .250rem 0.625rem;
}

input {
    border: solid 0.125rem dodgerblue;
    border-radius: 0.315rem;
    font-size: 1rem;
    padding: 0.375rem;
}

.button {
    font-size: 0.875rem;
    background: linear-gradient(rgb(147, 180, 240), rgb(41, 102, 143));
    border: 0;
    border-radius: 1.25rem;
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-top: 0.625rem;
    width: 50%;
}

.form-img {
    width: 100%;
    align-content: center;
}


/* Media queries */

@media screen and (max-width: 540px) {
    .wrapper {
        padding: 1rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .second-section {
        margin-top: 1rem;
    }
}